@import 'src/view/styles/abstract.scss';

.text-field__wrapper {
    display: flex;

    &--vertical {
        flex-direction: column;

        .text-field__label {
            margin-bottom: 3px;
        }
    }
}

.text-field__label {
    font-size: 1rem;
    line-height: 1.37;
    letter-spacing: 0.1px;
    color: $black;
}

.text-field {
    @apply px-5 py-3;

    border: 1px solid $darkgrey;
    font-size: 1rem;
    line-height: 1.37;
    color: $black;

    &::placeholder {
        color: #000000;
        opacity: 0.3;
    }
}
