$font: 'Geometria', 'sans-serif';

$white: #FFFFFF;
$red: #CC1C17;
$black: #000;
$darkgrey: #C3C3C3;
$grey: #F5F5F5;
$orchid: rgba(138, 112, 255, 0.06);
$bg: #efeaff;
$main: #652FFD;
$grassgreen: #32D74B;

$transition: 0.2s ease-in-out;
