@import '/src/view/styles/variables.scss';

.modal {
    background: $white;
    width: 700px;
    border-radius: 15px!important;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    &__head {
        display: flex;
        font-weight: 700;
    }

    &__content {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
        

        &__item {
            width: calc(33% - 15px);
            height: 180px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 15px;
            position: relative;
            margin: 1% 1%;

            &__close {
                position: absolute;
                width: 20px;
                height: 20px;
                background-image: url(/src/assets/images/svg/delete.svg);
                background-repeat: no-repeat;
                background-size: cover;
                right: 10px;
                top: 10px;
                cursor: pointer;
            }
        }
    }

    &__footer {
       
    }
}

@media screen and (max-width: 1250px) {
    .modal {
        width: 600px;
    }
}

@media screen and (max-width: 1115px) {
    .modal {
        width: 500px;

        &__content__item {
            height: 150px;
        }
    }
}