@import '/src/view/styles/variables.scss';

.main {
    background: $bg;
    height: 100vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    position: relative;
    

    &__logo {
        width: 12%;
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        & img {
            width: 160px;
        }
    }

    &__content {
        background-color: $white;
        height: 100%;
        width: 65%;
        border-radius: 15px;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        padding: 2rem;
    }

    &__feed {
        width: 23%;
        height: 100%;
        overflow: hidden;
    }
}

@media screen and (max-width: 1500px) {
    .main {
        
        &__logo {
            margin-right: 10px;
        }
    }
}


@media screen and (max-width: 1315px) {
    .main {
        
        &__content {
            width: 60%;
            padding: 2rem 1rem;
        }

        &__feed {
        width: 28%;
        height: 100%;
        overflow: hidden;
        }
    }
}

@media screen and (max-width: 1100px) {
    .main {
        
        &__content {
            width: 55%;
        }

        &__feed {
        width: 33%;
        height: 100%;
        overflow: hidden;
        }
    }
}
